#### Домашняя работа №5

##### Задание №1

Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

In [1]:
import numpy as np
import pandas as pd

In [2]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])

In [3]:
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [4]:
df = pd.DataFrame({'zp':zp, 'ks':ks}, columns=['zp', 'ks'])
df

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

In [5]:
# не смещённая ковариация

cov_1 = df.cov().values[0, 1]
cov_1

10175.377777777778

In [6]:
# не смещённая ковариация

cov_2 = np.cov(zp, ks)[0, 1]
cov_2

10175.377777777778

In [7]:
# смещённая ковариация

cov_3 = np.cov(zp, ks, ddof=0)[0, 1]
cov_3

9157.840000000002

In [8]:
# смещённая ковариация

cov_4 = np.mean(zp*ks) - np.mean(zp)*np.mean(ks)
cov_4

9157.839999999997

In [9]:
np.sum(zp*ks) / 9 - np.sum(zp) / 9 * np.sum(ks) / 10

10175.377777777758

In [10]:
np.sum((zp - zp.mean()) * (ks - ks.mean())) / 9

10175.37777777778

##### Задание №2

Измерены значения IQ выборки студентов,
обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111.
Известно, что в генеральной совокупности IQ распределен нормально.
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [11]:
iq = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

In [12]:
# не смещённое среднеквадратичное отклонение

s = iq.std(ddof=1)
s

10.54566788359614

In [13]:
# по таблице Стьюдента 

t_kr = 2.26

In [14]:
m = iq.mean()
m

118.1

In [15]:
d = (s / (10**0.5)) * t_kr
d

7.536722570926376

In [16]:
i1 = m - d
i2 = m + d
i1, i2

(110.56327742907362, 125.63672257092637)

##### Задание №3

Известно, что рост футболистов в сборной распределен нормально
с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,
среднее выборочное составляет 174.2. Найдите доверительный интервал для математического
ожидания с надежностью 0.95.

In [17]:
s = 25**0.5
s

5.0

In [18]:
s_m = s / 27**0.5
s_m

0.9622504486493763

In [19]:
# по таблице Лапласа

c_kr = 1.96

In [20]:
d_ = c_kr * s_m
d_

1.8860108793527774

In [21]:
a = 174.2

In [22]:
a1 = a - d_
a2 = a + d_
a1, a2

(172.31398912064722, 176.08601087935276)

##### Задание №4

С темой проекта ещё определяюсь.